# Entorno virtual
venv/

# Datos crudos y procesados
data/

# Modelos serializados (Machine Learning)
*.pkl
*.joblib

# Formatos de datos y compresión
*.parquet
*.csv
*.gz
*.zip

# Archivos de texto (ignora todos excepto requirements.txt)
*.txt
!requirements.txt

# Tokens, secretos y credenciales
token.txt
tokken.txt
.env

# Caché y temporales del sistema / Python / Jupyter
__pycache__/
.ipynb_checkpoints/
.DS_Store